{% extends "base.liquid" %}

{% block head %}
  <title> Login - Growler </title>
{% endblock %}

{% block content %}

<div class="uk-container">
  <div class="uk-flex uk-flex-center">
    <div class="uk-margin-large-top uk-card uk-card-default">
      <form class="form-register" method="POST" action="/login">
        <fieldset class ="uk-fieldset">

          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle uk-flex-center" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="120"
                src="http://diylogodesigns.com/blog/wp-content/uploads/2016/01/creative-owl-bird-logo-design.png">
              </div>
              <div class="uk-width-auto">
                <h3 class="uk-card-title uk-margin-remove-bottom">Login</h3>
              </div>
            </div>
            {% if model.Error %}
              <p class="alert alert-danger">
                {{ model.Error.Value }}
              </p>
            {% endif %}
          </div>

          <div class="uk-card-body">
            <label for="Username" class="sr-only">Username</label>
            <div class="uk-margin">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon" uk-icon="icon: user"></span>
                <input type="text" name="Username" class="uk-input
                  uk-form-width-large" placeholder="Username" required value={{ model.Username }}>
              </div>
            </div>

            <label for="Password" class="sr-only">Password</label>
            <div class="uk-margin">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                <input type="password" name="Password" class="uk-input
                  uk-form-width-large" placeholder="Password" required>
              </div>
            </div>
          </div>

          <div class = "uk-card-footer">
            <button class="uk-button uk-button-primary uk-width-1-1"
              type="submit">Login</button>
          </div>
         <div uk-alert class="uk-flex uk-flex-center">New to us? <a href="/register"> Sign up</a></div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script src='http://localhost:9000/static/js/app.bundle.js'></script>
{% endblock %}
