{% extends "base.liquid" %}

{% block head %}
  <title> Register Success </title>
{% endblock %}

{% block content %}
<div class="container">
  <p class="well"> 
    Hi {{ model }}, Your account has been created. 
    Check you email to activate your account. 
  </p>
</div>
{% endblock %}
