export GROWLER_SERVER_KEY=NVj8HYO2Z2IUakO5L59OIyMFodaNoMcd56NxXYLcz1Q=

export GROWLER_STREAM_KEY=swdkmwg2ex59
export GROWLER_STREAM_SECRET=jbp38pnync6y4umr5nsfr9sb49557hj7tqfkewxqmawrzq6bxs6pambbjyx6dkzv
export GROWLER_STREAM_APP_ID=33937
