source https://www.nuget.org/api/v2
framework: net461
nuget BCrypt.Net-Next 2.1.1
nuget Chessie
nuget Chiron 6.2.1
nuget DotLiquid 2.0.64
nuget FAKE
nuget FluentMigrator
nuget FSharp.Core
nuget Npgsql 3.1.10
nuget SQLProvider 1.1.7
nuget stream-net 1.3.2
nuget Suave
nuget Suave.DotLiquid 2.2
nuget Suave.Experimental 2.2
