<!DOCTYPE HTML>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/css/uikit.min.css" />
    <link rel="stylesheet" href="http://localhost:9000/static/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js'></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<!-- For displaying ajax start and stop -->
		<div class="modal"></div>
		
		<div id="scripts">
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit-icons.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
      <script src='http://localhost:9000/static/js/app.bundle.js'></script>
			{% block scripts %}
			{% endblock %}
		</div>		
	</body>
</html>
