<!DOCTYPE HTML>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/css/uikit.min.css" />
    <link rel="stylesheet" href="http://localhost:9000/static/css/app.css">
		{% block head %}
		{% endblock %}
	</head>
	<body>
    <div class="uk-position-relative">
      <div class="uk-position-top">
        <div class="uk-container">
          <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
              <div class="uk-navbar-left">
                  <ul class="uk-navbar-nav">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Explore</a></li>
                      <li>
                          <a href="#">Hello User!</a>
                          <div class="uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                  <li><a href="#">Profile</a></li>
                                  <li class="uk-nav-divider"></li>
                                  <li><a href="#">Logout</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
        </div>
      </div>
    </div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<!-- For displaying ajax start and stop -->
		<div class="modal"></div>
		
		<div id="scripts">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit-icons.min.js"></script>
      <script src='http://localhost:9000/static/js/app.bundle.js'></script>
			{% block scripts %}
			{% endblock %}
		</div>		
	</body>
</html>
